<template>
  <div>
    <h1>Заметки</h1>
    <table class="table">
      <thead>
        <th style="width:5%">№</th>
        <th>Имя</th>
        <th>Краткий список задач</th>
        <th style="width:10%"></th>
        <th style="width:10%"></th>
      </thead>
      <tbody>
        <tr v-for="note in notes" :key="note.id">
          <td>{{note.id}}</td>
          <td>{{note.name}}</td>
          <td>
            <ul>
              <li v-for="task in note.tasks.slice(0,3)" :key="task.id">{{task.name}}</li>
            </ul>
          </td>
          <td>
            <button class="iconBtn" @click="editNote(note)">
              <i class="fal fa-edit"></i>
            </button>
          </td>
          <td>
            <button class="iconBtn" @click="confirmDeleteNote(note)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <AddNoteForm v-if="isAddNote" @form-hidden="handleAddFormState" />

    <DeleteNoteConfirm v-if="isDeleteNote" @delete-confirm="handleDeleteNote"/>

    <button class="addNote" @click="isAddNote = true">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import AddNoteForm from "@/components/addNoteForm";
import DeleteNoteConfirm from "@/components/deleteNoteConfirm"

export default {
  name: "Notes",
  components: {
    AddNoteForm,
    DeleteNoteConfirm
  },
  data() {
    return {
      isAddNote: false,
      isDeleteNote: false,
      noteToDelete: null
    };
  },
  mounted(){
    console.log(this.notes);
  },
  computed: {
    ...mapGetters({
      notes: "notes/getNotes",
    }),
  },
  methods: {
    
    ...mapActions({
      deleteNoteSt: "notes/deleteNote",
    }),

    editNote(note) {
      this.$router.push({ name: "Note", params: {notePassed: JSON.stringify(note)} });
    },
    handleAddFormState(e) {
      this.isAddNote = e;
    },
    handleDeleteNote(e){
      if(e){
        this.deleteNoteSt(this.noteToDelete)
        this.isDeleteNote = false
      }else{
        this.isDeleteNote = false
      }
    },
    confirmDeleteNote(note){
      this.isDeleteNote = true
      this.noteToDelete = note
    },
  },
};
</script>

<style>
.table {
  width: 70%;
  margin: auto;
  text-align: left;
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
}
.table th,
.table td {
  padding: 8px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table td li {
  font-size: 12px;
  margin: 2px 0;
}
.table thead th {
  font-size: 14px;
  color: gray;
  font-weight: 400;
}
</style>