<template>
  <div class="note">
    <div class="container">
      <div class="col" style="width: 10%">
        <router-link to="/">К Заметкам</router-link>
      </div>
      <div class="col" style="width: 40%">
        <h2>{{noteCache.name}}</h2>
        <form @submit.prevent="saveNote" >
          <button type="button" class="undoChanges iconBtn" @click="undoNoteChanges()"><i class="fas fa-undo-alt"></i></button>
          <button type="button" class="undoNoteSaved iconBtn" @click="undoNoteSaved()"><i class="fas fa-undo-alt"></i></button>
          <div class="inputGroup">
            <input type="text" v-model="note.name" />
          </div>
          <button type="button" class="btn declineBtn" @click="isCancelEditNoteConfirm = true">Отменить Ред.</button>
          <button type="button" class="btn rejectBtn" @click="isDeleteNote = true">Удалить</button>
          <button type="submit" class="btn submitBtn">Сохранить</button>
        </form>
      </div>
      <div class="col" style="width: 50%">
        <div class="todo-heading">
            <h3>Список заданий</h3>
            <button @click="addNewTaskMode = true"><i class="fas fa-plus"></i></button>
        </div>
        <div class="list-todo" v-if="isNotes">
          <Todo v-for="todo in todos" :key="todo.id" :todoPassed="todo" :noteId="note.id" @deleted-todo="handleDeletedTodo"/> 
          <form @submit.prevent="addTask()" v-if="addNewTaskMode">
            <div class="inputGroup">
              <input type="text" v-model="newTaskName" required placeholder="Имя задания">
            </div>
            <button type="button" class="btn rejectBtn" @click="addNewTaskMode = false;newTaskName = '';">Отменить</button>
            <button type="submit" class="btn submitBtn">Добавить</button>
          </form>
        </div>
      </div>
    </div>
  
    <DeleteNoteConfirm v-if="isDeleteNote" @delete-confirm="handleDeleteNote" />
  
    <savedNoteSnackbar/>
  
    <CancelEditConfirm v-if="isCancelEditNoteConfirm" @cancel-edit-confirm="handleCancelEditNote" />
  
  </div>
</template>

<script>

import { mapActions, mapMutations } from "vuex";
import DeleteNoteConfirm from "@/components/deleteNoteConfirm";
import savedNoteSnackbar from "@/components/savedNoteSnackbar";
import CancelEditConfirm from "@/components/cancelEditConfirm";
import Todo from "@/components/todo";

export default {
  name: "Note",
  components: {
    DeleteNoteConfirm,
    savedNoteSnackbar,
    CancelEditConfirm,
    Todo
  },
  data() {
    return {
      note: null,
      noteCache: null,
      noteSaved: null,
      isDeleteNote: false,
      isCancelEditNoteConfirm: false,
      isNotes: false,
      todos: [],
      newTaskName: '',
      addNewTaskMode: false
    };
  },
  created() {
    console.log(this.$route.params);
    // создание копий заметки для манипуляцыи с изменениями
    this.note = Object.assign({}, JSON.parse(this.$route.params.notePassed));
    this.noteCache = Object.assign({}, JSON.parse(this.$route.params.notePassed));
    this.noteSaved = Object.assign({}, JSON.parse(this.$route.params.notePassed));
    this.isNotes = true
    this.todos = this.note.tasks
  },

  methods: {
    ...mapActions({
      editNote: "notes/editNote",
      deleteNoteSt: "notes/deleteNote",
    }),
    ...mapMutations({
      addNewTaskMt: "notes/ADD_TASK"
    }),

    saveNote() {
      this.editNote(this.note).then(() => {
        //анимация уведомления о сохранение заметки
        document.querySelector(".snackbar").style.bottom = 0;
        setTimeout(() => {
          document.querySelector(".snackbar").style.bottom = "-20%";
        }, 2000);
      });
    },
    handleDeleteNote(e) {
      //удалить заметку если подтвержденo
      if (e) {
        this.deleteNoteSt(this.note);
        this.isDeleteNote = false;
      //редирект к заметкам после удаление
        this.$router.replace({
          name: "Notes"
        });
      } else {
        this.isDeleteNote = false;
      }
    },
    handleCancelEditNote(e){
      if(e){
        this.isCancelEditNoteConfirm = false;
        this.$router.replace({
          name: "Notes"
        });
      }else{
        this.isCancelEditNoteConfirm = false;
      }
    },
    undoNoteChanges(){
      ////сохранить текущую заметку
      this.noteSaved = Object.assign({},this.note)
      //// отменить внесенное изменение
      this.note = Object.assign({},this.noteCache)
    },
    undoNoteSaved(){
      if(this.noteCache.name != this.noteSaved.name){
        //повторить отмененное изменение
        this.note = Object.assign({},this.noteSaved)
      }
    },
    handleDeletedTodo(id){
      let index = this.note.tasks.findIndex(t => t.id == id)
      this.note.tasks.splice(index,1)
    },
    addTask(){
      const params = {
        noteId: this.note.id,
        newTask: {
          id: this.note.tasks.length + 1,
          name: this.newTaskName,
          isDone: false
        }
      }
      this.addNewTaskMt(params)
      this.note.tasks.push(params.newTask)
      this.newTaskName = ''
      this.addNewTaskMode = false
    }
  },
};
</script>

<style>
  .undoNoteSaved{
      transform: rotateY(180deg);
      margin-left: 10px;
  }
</style>