<template>
    <div class="modalrapper" ref="modalrapperRef" @click="hideForm($event)">
      <form @submit.prevent="addNote" id="noteForm">
        <h3>Добавить заметку</h3>
        <div class="inputGroup">
          <input type="text" placeholder="Имя заметки" required v-model="note.name" />
        </div>
        <button class="btn rejectBtn" @click="$emit('form-hidden', false)">Отменить</button>
        <button class="btn submitBtn" type="submit" @click="addNote()">Добавить</button>
      </form>
    </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "AddNoteForm",
  data() {
    return {
      note: {
        name: null,
      },
    };
  },
  methods: {
    ...mapActions({
      addNoteSt: "notes/addNote",
    }),
    hideForm(event) {
      if (event.target == this.$refs.modalrapperRef){
        this.$emit('form-hidden', false)
      }
    },
    addNote() {
      this.addNoteSt(this.note).then(()=>{
        this.$emit('form-hidden', false)
      })
      
    },
  },
};
</script>

<style>

.addNote {
  position: fixed;
  right: 40px;
  bottom: 40px;
  height: 60px;
  width: 60px;
  border: 0;
  background-color: #003e63;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
</style>