<template>
  <div class="modalrapper" ref="modalrapperRef" @click="hideForm($event)">
    <form>
      <h3>Отменить редактирование? ?</h3>
      <button type="button" class="btn submitBtn" @click="$emit('cancel-edit-confirm', false)">Продолжить</button>
      <button type="button" class="btn rejectBtn" @click="$emit('cancel-edit-confirm', true)">Отменить</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "CancelEditConfirm",
  methods: {
    hideForm(event) {
      if (event.target == this.$refs.modalrapperRef) {
        this.$emit("cancel-edit-confirm", false);
      }
    },
  },
};
</script>