<template>
  <div class="modalrapper" ref="modalrapperRef" @click="hideForm($event)">
    <form>
      <h3>Удалить заметку ?</h3>
      <button type="button" class="btn rejectBtn" @click="$emit('delete-confirm', false)">Отменить</button>
      <button type="button" class="btn submitBtn" @click="$emit('delete-confirm', true)">Удалить</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "DeleteNoteConfirm",
  methods: {
    hideForm(event) {
      if (event.target == this.$refs.modalrapperRef) {
        this.$emit("delete-confirm", false);
      }
    },
  },
};
</script>