<template>
    <div class="snackbar">
        <p>Заметка сохранена</p>
    </div>
</template>

<script>
export default {
    name: "savedNoteSnackbar"
}
</script>

<style>
.snackbar{
    position: fixed;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    font-size: 16px;
    color: #fff;
    background-color: #545657;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    transition: .3s;
}
</style>