<template>
    <div>
        <div class="todo" v-if="todoReady">
            <div class="todo-check">
                <input type="checkbox" :checked="todo.isDone" @change="checkTodo(todo.id, $event)">
            </div>
            <div class="todo-name" >
                <span v-if="!editTodoMode">{{todo.name }}</span>
                <input v-if="editTodoMode" type="text" v-model="todo.name">
            </div>
            <div class="todo-btns">
                <div class="mainsBtns" v-if="!editTodoMode">
                    <button class="iconBtn" @click="editTodo()"><i class="fal fa-edit"></i></button>
                    <button class="iconBtn" @click="deleteTodo()"><i class="fas fa-trash"></i></button>
                </div>
                <div class="editbtns" v-if="editTodoMode">
                    <button class="iconBtn" @click="cancelEditTodo()"><i class="fal fa-times"></i></button>
                    <button class="iconBtn" @click="saveTodo()"><i class="fal fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
    name: "todo",
    data() {
        return {
            editTodoMode: false,
            todo: null,
            todoCached: null,
            todoReady: false
        }
    },
    props:{
        todoPassed: Object,
        noteId: Number
    },
    mounted(){
        this.todo = Object.assign({}, this.todoPassed)
        this.todoReady = true
    },
    methods: {
        ...mapMutations({
            checkTodoMt: "notes/CHECK_TASK",
            saveTodoMt: "notes/SAVE_EDITED_TASK",
            deleteTodoMt: "notes/DELETE_TASK"
        }),

        checkTodo(id, e){
            const params = {
                noteId: this.noteId,
                taskId: id,
                value: e.target.checked
            }

            this.checkTodoMt(params)
        },
        editTodo(){
            this.todoCached = Object.assign({}, this.todo)
            this.editTodoMode = true
        },
        cancelEditTodo(){
            this.todo = Object.assign({}, this.todoCached)
            this.editTodoMode = false
        },
        saveTodo(){
            const params = {
                noteId: this.noteId, 
                taskId: this.todo.id,
                value: this.todo.name
            }
            this.saveTodoMt(params)
            this.todoCached = Object.assign({}, this.todo)
            this.editTodoMode = false
        },
        deleteTodo(){
            const params = {
                noteId: this.noteId, 
                taskId: this.todo.id,
            }
            this.deleteTodoMt(params)
            this.$emit('deleted-todo', this.todo.id)
        }
    },
}
</script>

<style >
    .todo{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }
    .todo-check{
        width: 5%;
    }
    .todo-name{
        width: 75%;
    }
    .todo .todo-btns{
        width: 20% !important;
        justify-self: end;
    }
    .todo-heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .todo-heading button{
        background-color: transparent;
        border: 0;
        height: 30px;
        width: 30px;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        background-color: gray;
        transition: .3s;
    }
    .todo-heading button:hover{
        background-color: #a29d9d;
    }
</style>