*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #fbfefb;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn{
    padding: 10px 24px 9px;
    text-align: center;
    color: #fff;
    border: 0;
    border-radius: 4px;
    margin: 24px 10px 5px;
    letter-spacing: 0.96px;
    cursor: pointer;
}
.declineBtn{
    background-color: #ffc107;
}
.rejectBtn{
    background-color: #c32021;
}
.submitBtn{
    background-color: #003e63;
}
.inputGroup input{
    border: 1px solid rgba(0, 0, 0,0.5);
    border-radius: 4px;
    padding: 15px;
}
.modalrapper {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .modalrapper form {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    padding: 24px;
    background-color: #fff;
    border-radius: 24px;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .modalrapper form input {
    width: 100%;
  }
  .container{
      width: 1170px;
      display: flex;
  }
  .container .col{
      padding: 10px;
  }
  .col a{
    color: #007bff;
    text-decoration: none;
    transition: .3s;
  }
  .col a:hover{
    text-decoration: underline;
    color: #0056b3;
  }
  .col form {
    width: 70%;
    padding: 10px
  }
  .col form input{
      width: 100%;
      margin-top: 12px;
  }
  .iconBtn{
    background-color: #fbfefb;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
    width: 50px;
    position: relative;
  }
  .iconBtn i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
  .iconBtn:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }