<template>
  <div id="wrapper">
    <div id="nav">
        <!-- <router-link to="/">Notes</router-link>
        <router-link to="/note">Note</router-link> -->
    </div>
    <router-view/>
  </div>
</template>

<style>
@import url('assets/main.css');
#wrapper{
  width: 1170px;
  margin: auto;
}
  /* @import url('assets/main.css');
  #wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
  }
  #nav{
    width: 15%;
    height: 100vh;
    padding: 24px 10px;
    display: flex;
    flex-flow: column;
    background-color: #eee395;
  }
  #nav a{
    margin: 12px 0;
    text-decoration: none;
    background-color:#ec672a;
    color: #fff;
    border-radius: 4px;
    padding: 9px 24px 10px;
    transition: .3s;
  }
  #nav a:hover{
    background-color: #ee8c5f;
  } */
</style>